@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Figtree", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Rubik", sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1b9f641d;
}

.bord {
  border-width: 1px;
  border-color: black;
}

* {
  outline: none !important;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

#habit-list::-webkit-scrollbar-track {
	background: none !important;
}

#habit-list::-webkit-scrollbar {
  width: 7px;
}

#habit-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* or make this transparent too */
  border-radius: calc(1px * infinity);
  opacity: 0;
}

#habit-list::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6); 
}

#habit-list::-webkit-scrollbar-track-piece:end {
  margin-right: 100px; 
}

#habit-list::-webkit-scrollbar-track-piece:start {
  margin-left: 100px; 
}
/* .border{
  border: none !important;
} */